{% extends "base.html" %}
{% load static %}

{% block title %}Réinitilisation de mot de passe{% endblock title %}
    {% block page-header %}
        <h4 style="text-align: center;color: rgb(248, 149, 82);">Réinitialiser votre mot de passe</h4>
    {% endblock %}
    {% block content %}
    <div class="container login-container">
        <div class="row">
          <div class="col-md-4">
            <h1><span></span></h1>
          </div>
          <div class="col-md-4 login-form">
            <div>
              <img src="{% static 'listperso/img/mobilelogologin.png' %}" alt="profile_img" height="140px" width="140px;">
            </div>
    <h4>Changement de mot de passe réussi !!</h4>
    <button class="btn btn-primary btn-lg btn-block">
        <a class="text-white" href="{% url 'reconnecter' %}"> veuillez-vous reconnecter</a>
    </button>
</div>
</div>
</div>
{% endblock %}