{% extends "base.html" %}
{% load static %}

{% block title %}Réinitilisation de mot de passe{% endblock title %}
    {% block page-header %}
        <h4 style="text-align: center;color: rgb(248, 149, 82);">Réinitialiser votre mot de passe</h4>
    {% endblock %}
    {% block content %}
    <div class="container login-container">
        <div class="row">
          <div class="col-md-4">
            <h1><span></span></h1>
          </div>
          <div class="col-md-4 login-form">
            <div>
              <img src="{% static 'listperso/img/mobilelogologin.png' %}" alt="profile_img" height="140px" width="140px;">
            </div>
            <h3>Reinitialisation</h3>
<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group row">
    <label for="id_new_pass1" class="col-2 col-form-label">Nouveau</label>
    <div class="col-10">
      <input name="new_password1" class="form-control" type="password" id="id_new_pass1">
    </div>
  </div>
  <ul>
    <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
    <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
    <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
    <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
  </ul>
  <div class="form-group row">
    <label for="id_new_pass2" class="col-2 col-form-label">Confirmer</label>
    <div class="col-10">
      <input name="new_password2" class="form-control" type="password" id="id_new_pass2">
    </div>
  </div>
<button type="submit" class="btn btn-primary btn-lg btn-block">changer le mot de passe</button>
</form>
</div>
</div>
</div>
{% endblock %}