{% extends 'listperso/base.html' %}

{% block page-header %}
<div class="container">
  <h2 class="card" style="text-align: center;">Détail des Matière</h2>
  </div>
{% endblock %}

{% block content %}


<div class="container mt-auto">
  <div class="row">
      <div class="col s12 m6">
        <div class="card text-center bg-light border-primary mb-3">
          <div class="card-image">
            {% if ddirection.societe.logo %}
              <img src="{{ ddirection.societe.logo.url}}">
            {% endif %}
            <span class="card-header"><h1>{{ dmatiere.designation }}</h1></span>
            <a href="{% url 'updatematiere' pk=ddirection.pk %}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
          </div>
          <div class="card-content">
              <ul class="collection with-header">
                <li> <b>Bon de Commande</b>: {{ dmatiere.bon_commande }}</li>
                <li><b>Reference matiere</b>: {{ dmatiere.reference_matiere }}</li>
              </ul>
      </div>
    </div>
      </div>
  </div>
  <form action="{% url 'supprimermatiere' pk=ddirection.pk %}" method="post">
    {% csrf_token %}
    <button onclick="return confirm('Etes-vous sur de vouloir supprimer {{object}}?');" type="submit" name="submit" class="waves-effect waves-light btn red" >
      <i class="material-icons left">delete_forever</i>
      Supprimer
    </a>
  </button>  
  </form>
  </div>        
  {% endblock %}