{% extends 'listperso/datatable.html' %}

{% block page-header %}
<h1 class="card" style="text-align: center;color: rgb(255, 123, 0);">Personnel</h1>
{% endblock %}
    
       
{% block content %}



<form action="." method="POST" id="form">
    {% csrf_token %}

    
    <table class="table datatable" id="datatable">
        <thead class="thead-dark">
            <tr>
                <th>
                    <label>
                        <input  type="checkbox" class="filled-in"  name="test" id="test" />
                        <span class="white-text">Select</span>
                      </label>
                </th>
                <th style="text-align: center;color:black;" > identifiant</th>
                <th style="text-align: center;color:black;">Prénom</th>
                <th style="text-align: center;color:black;" >Nom</th>
                <th style="text-align: center;color:black;">Fonction</th>
                <th style="text-align: center;color:black;" >Téléphone</th>
                <th style="text-align: center;color:black;">Email</th>
                
                
            </tr>
        </thead>
      
            <tbody>
              
            </tbody>
           
    </table> 
</form>


    

    {% endblock %}
  

    {% block  datatablescript %}
    <script>
        
      
        $(document).ready(function() {
            $(document).ready(function(){
                $('.modal').modal();
              });

            $('#form').submit( function() {
                event.preventDefault();
                var formData = $(this).serializeArray();

                $.ajax({
                    type:"POST",
                    url:"{% url 'delete_personnel'%}",
                    data: formData,
                    dataType: 'json',
                    success: function(data){
                      if (data){
                        location.href="{% url 'listepersonnel' %}"
                      }
                    }
                  });
                  

            } );
            $('#datatable thead tr').clone(true).appendTo( '#datatable thead' );
            function buildSelect(table) {
                $('#datatable thead tr:eq(1) th').each( function (i) {
                    if (i==0) {   $(this).html("");return;}
                    var title = $(this).text();
                    $(this).removeClass('sorting');
                    $(this).html( '<input  type="text" style="color:black; texxt-align:center" placeholder="Filtrer sur '+title+'" class="filter" />' );
                    $( 'input', this ).on( 'keyup change', function () {
                        
                        if ( table.api().column(i).search() !== this.value ) {
                            table.api()
                                .column(i)
                                .search( this.value )
                                .draw();
                        }
                    } );
             
                } ); 
            }

            var dt_table = $('.datatable').dataTable({
                dom:`<'row '
                        <'col-sm-12 col-md-12'B>
                    >
                    <'row'
                        <'col-sm-12 col-md-6 dom-aling'l>
                        <'col-sm-12 col-md-6'f>
                    > 
                    <'row'
                        <'col-sm-12 col-md-12't>
                    >
                    <'row'
                        <'col-sm-12 col-md-6'i>
                        <'col-sm-12 col-md-6'p>
                    >`,
                lengthMenu: [1, 50, 100, 200],
                pageLength: 30,//Taille par page deautlt
                buttons: [ 
                {
                    extend: 'csv',
                    title: 'Personnel',
                    exportOptions: {
                        columns: [ 1,2 ],
                    }
                },
                {
                    extend: 'excel',
                    title: 'Personnel',
                    exportOptions: {
                        columns: [ 1,2 ],
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Personnel',
                    exportOptions: {
                        columns: [ 1,2 ],
                    }
                },  
                  
                {
                    text: 'Créer',
                    action: function ( e, dt, node, config ) {
                        location.href="{% url 'personnel' %}"
                    }
                },
                  {
                    text: 'Supprimer',
                    action: function ( e, dt, node, config ) {
                        $('#form').submit( );
                        location.href="{% url 'listepersonnel' %}";
                    }
                },
                {
                    text: 'Import Excel',
                    
                      attr:  {
                        class:"btn modal-trigger",
                        "data-target": 'modal1'
                    }
                },    {
                    text: 'Import CSV',
                    
                      attr:  {
                        class:"btn modal-trigger",
                        "data-target": 'modal2'
                    }
                }
            ],
            responsive: true,
            select: true,
   
            order: [[ 0, "desc" ],[1,"asc"]],
            columns: [
            {
                data: 'id',
                render: function ( data, type, row, meta ) {
                    return `<p>
                        <label>
                          <input type="checkbox" class="filled-in"  name="choice" value="`+row.id+`"/>
                          <span></span>
                        </label>
                        </p>`; },
                orderable: false,
                searchable: true,
                className: "center"
                },
                {
                    data: 'identifiant',
                    render: function (data, type, row, meta) {

                        return "<a href='/updatepersonnel/" + row.identifiant + "' style='display: block; height: 100%; width: 100%; text-align:center;'>" + row.identifiant+ "</a>"
                    },
                    orderable: true,
                    searchable: true,
                    className: "center"
                },
            {
            data: 'prenom',
            render: function ( data, type, row, meta ) {
                   
                return  "<span style='display: block; height: 100%; width: 100%; text-align:center;'>"+row.prenom +"</span>"  },
                
            orderable: true,
            searchable: true,
            className: "center"
            },    {
                data: 'nom',
                render: function ( data, type, row, meta ) {
                   
                    return "<span style='display: block; height: 100%; width: 100%; text-align:center;'>"+row.nom +"</span>"  },

                orderable: true,
                searchable: true,
                className: "center"
                },
                {
                data: 'fonction',
                render: function ( data, type, row, meta ) {
                   
                    return "<span style='display: block; height: 100%; width: 100%; text-align:center;'>"+row.fonction +"</span>"  },

                orderable: true,
                searchable: true,
                className: "center"
                },
                {
                data: 'tel',
                render: function ( data, type, row, meta ) {
                   
                    return "<span style='display: block; height: 100%; width: 100%; text-align:center;'>"+row.tel +"</span>"  },

                orderable: true,
                searchable: true,
                className: "center"
                },
                {
                data: 'email',
                render: function ( data, type, row, meta ) {
                   
                    return "<span style='display: block; height: 100%; width: 100%; text-align:center;'>"+row.email +"</span>"  },

                orderable: true,
                searchable: true,
                className: "center"
                }
            ],
            searching: true,
            // select: true,
            // processing: true,
            serverSide: true,
            // stateSave: true,
            orderCellsTop: true,
            fixedHeader: true,
            
            initComplete: function() {
                this.api().columns().every( function () {
                    var that = this;
                   this .search(''); 
               
                } );
             buildSelect(this);
             
              },
           ajax:"{% url 'personnel_list_json' %}"
            });
            
            dt_table.api().columns().every( function () {
                var that = this;
               this .search(''); 
           
            } );

           });
            // On attend que le document soit chargé
    $(document).ready(function(){
        $('#test').click(function(){
            $('input[type="checkbox"]').prop('checked',$(this).prop('checked'));
        });
    }); 
    </script>
    {% endblock %}      
